<div id="newId">
	<div id="" class="back" ng-click="goHome()">Вернуться назад</div>
    <h1>Method</h1>
	<h3>Индивидуальное задание:</h3>
	<div>Введите значение X: 
       	<input 
       		id='input_x3' 
       		class='newClass' 
       		type='text'
         	placeholder='Введите x'>
       	</input>
        (2;3)
    </div>
    <div>Введите значение N: 
        <input 
            id='input_n3' 
            class='newClass' 
            type='text'
            placeholder='Введите n'>
        </input>
        (10)
    </div>

    <h5>Результат выполнения программы:</h5>
 
    <div id='inline__result'> 
        <p>Результат Y = </p> <p id="result_u3"></p>
    </div> 
    <div class="dangerous" ng-click="calc3()">Выполнить</div>

</div>

